.create-span{
    min-width: 200px;
    display: inline-block;
    padding-bottom: 12px;
}

#sensors {
    padding-top: 8px;
}

#frequency-list {
    width: 400px;
}

#create-study-sensors-list {
    width: 400px;
}

#create-study-button {
    margin-top: 32px;
}

#create-study-list {
    width: 300px;
}

#modality-list {
    max-width: 300px;
    padding-top: 16px;
    padding-bottom: 32px;
}

#create-study-name-input {
    font-size: 16px;
    padding-bottom: px;
}

.upload {
    max-width: 300px;
    max-height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}