#current-study-list {
    width: 500px;
}

#study-info {
    margin-top: 16px;
    padding-left: 16px;
    border: 3px solid #005B82;
    border-radius: 4px;
    max-width: 450px;
}

#study-info p {
    padding-top: 0;
}

#download-unused-sheets-link-wrapper {
    margin-top: 32px;
    margin-bottom: 48px;
    margin-left: 8px;
}

#download-unused-sheets-link {
    padding: 8px;
}