html {
    font-family: Arial !important;
}

body {
    margin: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
