#page-header {
     border-top: 5px solid #005B82;
     background-color: #ffffff;
     height: auto;
     box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

#title-wrapper {
    padding-left: 32px;
}

#title {
    color: #005B82;
    font-weight: bold;
    font-size: 2.5em;
}

#subtitle{
    margin-top: -24px;
    padding-left: 8px;
    color: #005B82;
}

#icons-wrapper {
    padding-top: 8px;
    padding-right: 8px;
}

#icons-wrapper img {
    width: 160px;
    height: 100px;
    border-style: none double;
}

