/* small column for menu, etc..*/
.column-small {
  float: left;
  width: 15%;
}

/* mdeium column for content */
.column-medium {
  float: left;
  width: 60%;
}

/* big column for content */
.column-big {
  float: left;
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
