#page-footer {
    box-shadow: -2px -6px 5px rgba(0, 0, 0, 0.5);
    background-color: #005B82;
}

#info-text {
    padding: 16px;
}

#info-text p {
    color: white;
}

#info-text a {
    color: #5cbbff;
}