/* Color of legend items*/
li.blue {
    color: #34b4eb;
}

li.light-green {
    color: #7cfc00;
}

li.dark-green {
    color: #006400;
}

li.red {
    color: #ff3333;
}

li.orange {
    color: #f58300;
}

li.not-clean{
    color: #f7725e;
}

#color-legend-wrapper {
    float: left;
    width: 250px;
    border-right: 1px solid;
}

#status-code-legend-wrapper {
    float: left;
    width: 250px;
}

#legend-wrapper {
    padding-top: 16px;
}