/* General table layout */
table {
  border-collapse: collapse;
  overflow: auto;
  display: inline-block;
  max-height: 560px;
  width: 1060px;
  border: 1px solid black;
}

/* Header and data attributes */
th{
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  color: white;

}

th.clean {
  background-color: #004176;
}

th.not-clean {
  background-color: #f7725e;
}

/* Grey for hovering */
tr:hover {
    background-color: #bababa;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

/* Color of cells if certain condition is true */
td.blue {
    background-color: #34b4eb;
}

td.light-green {
    background-color: #7cfc00;
}

td.dark-green {
    background-color: #006400;
}

td.red {
    background-color: #ff3333;
}

td.orange {
    background-color: #f58300;
}


